    body {
      background-color: Ivory;
    }

    hr {
      border-style: none;
      border-top-style: dotted;
      width: 5%;
      border-color: grey;
      border-width: 5px;
    }
    h1 {
      color: #436C91;
    }
    h3 {
      color: #436C91;
    }

/*Step 1 styling the progress bar*/
progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* gets rid of default border in Firefox and Opera. */
	border: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;

	/* Dimensions */
	width: 400px;
	height: 15px;

}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
	display: none;
}

/*Step 2 of styling the progress bar*/

progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: #B6C4B5 !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #B6C4B5;
}

/*Step 3 of styling the progress bar*/

/* IE10 */
progress {
    color: LimeGreen;
}

/* Firefox */
progress::-moz-progress-bar {
    background: LimeGreen;
}

/* Chrome */
progress::-webkit-progress-value {
    background: LimeGreen;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: LimeGreen;
}

/* Step 4 of styling the progress bar*/

/* Firefox */
progress:not([value])::-moz-progress-bar {
  background-image:  url(../images/indeter.gif);
}

/* Chrome */
progress:not([value])::-webkit-progress-bar {
  background-image:  url(../images/indeter.gif);
}

/* Polyfill - IE */
progress[role]{
	background-image: url(../images/indeter.gif) !important;
}

/* Polyfill - Safari */
progress:not([value])  {
	background-image: url(../images/indeter.gif) !important;
	background-size: auto;  /* Needs to be in here for Safari */
